.row {
  display: flex;
  cursor: pointer;
}

.row:hover {
  background-color: rgb(235, 235, 220);
}

.rowBlock {
  border: 1px solid rgb(51, 56, 68);
  text-align: center;
}

.rowId {
  width: 8%;
}

.rowFirstName {
  width: 16%;
}

.rowLastName {
  width: 16%;
}

.rowEmail {
  width: 38%;
}

.rowPhone {
  width: 22%;
}
